{% extends 'wrapper.html' %}

{% block title %}LINCS Drugs MoA Landing Pages{% endblock %}

{% block body %}

    <script type="text/javascript">
    $(document).ready(function(){
        var drugs_json = {{ drugs_json|safe }};

        var dataTable = $('table').dataTable({
            aaData: drugs_json['data'],
            columns: [
                {
                    data: 'name', 
                    render: function(data, type, full, meta){
                        var pert_id = full['pert_id'];
                        return '<a href="report/' + pert_id + '">' + data + '</a>';
                    }
                },
                {data: 'pert_id'},
                {data: 'nsigs'}
            ],
            bPaginate: true,
            deferRender: true,
            // Initialize sorted by number of signatures.
            // order: [[ 0, 'asc' ]],
        });
        $('.dataTables_filter').hide();
        $('#search-box').keyup(function() {
           dataTable.fnFilter(this.value);
        });

        $("#stat").load('statistics')
    })
    </script>

    <div class='page' id='collections-page'>

        <div class='ribbon'>
            <div class='container'>
                <h1>Drug Landing Pages</h1>
                <div id="instructions">
                    <p>
                        This area lists all collections of gene expression signatures for LINCS drugs and small molecule compounds. 
                    </p>
                </div>
                <input id='search-box' class='form-control' placeholder='Search collections'/>
            </div>
        </div>
        <div class='container'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Drug/Small Molecule Compound</th>
                        <th>Pert ID</th>
                        <th>Signatures</th>
                    </tr>
                </thead>
                <!-- <tbody>
                {% for drug_meta in drugs_meta %}
                    <tr>
                        <td>
                            <a href='{{ config.REPORT_URL }}/{{ drug_meta["pert_id"] }}'>{{ drug_meta["name"]|upper }}</a>
                        </td>
                        <td>{{ drug_meta["pert_id"] }}</td>
                        <td>{{ drug_meta["nsigs"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
 -->            </table>
        </div>
        <div id="stat"></div>
    </div>

{% endblock %}