{% extends 'wrapper.html' %}

{% block title %}Documentation{% endblock %}

{% block body %}

    <script src="static/js/collections.js"></script>

    <div class='page' id='collections-page'>

        <div class='ribbon'>
            <div class='container'>
                <h1>Drug Landing Pages</h1>
                <div id="instructions">
                    <p>
                        This area lists all collections of gene expression signatures for LINCS drugs and small molecule compounds. 
                    </p>
                </div>
                <input id='search-box' class='form-control' placeholder='Search collections'/>
            </div>
        </div>
        <div class='container'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Drug/Small Molecule Compound</th>
                        <th>Signatures</th>
                    </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>
                            <a href='{{ config.REPORT_URL }}/{{ tag.name }}'>{{ d_pert_name[tag.name]|upper }}</a>
                        </td>
                        <td>{{ tag.gene_signatures|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}