{% extends 'wrapper.html' %}

{% block title %}{{ drug.pert_iname }}{% endblock %}

{% block body %}
    
    <script src='static/lib/highcharts/highcharts.js'></script>
    <script src='static/lib/highcharts/highcharts-more.js'></script>
    <script src='static/lib/highcharts/exporting.js'></script>

    <script src='static/lib/d3/d3.js'></script>
    <script src='static/lib/underscore/underscore.js'></script>

    <script src='static/js/report.js'></script>
    <script>
        createAndManageVisualizations({
            hasDataTable: false,
            barPlotDx: {{
                drug.get_dx_counts(50)|safe
                if drug.get_dx_counts()
                else 'undefined'                
            }},
            barPlotRx: {{
                drug.get_rx_counts(50)|safe
                if drug.get_rx_counts()
                else 'undefined'                
            }},
            kdeObj: {{
                drug.get_rx_age_kde()|safe
                if drug.get_rx_age_kde()
                else 'undefined'
            }}

        });

    </script>

    <div class='page' id='report-page'>
        {% include 'partial/drug-meta.html' %}
        <div class="container">
            {% include 'partial/drug-dx-counts.html' %}
            {% include 'partial/drug-rx-counts.html' %}
            {% include 'partial/drug-age-kde.html' %}
        </div>
{% endblock %}