{% extends 'wrapper.html' %}

{% block title %}{{ drug.pert_iname }}{% endblock %}

{% block body %}
    
    <script src='static/lib/underscore/underscore.js'></script>

    <div class='page' id='report-page'>

        <div class='ribbon'>
            <div class='container'>
                <div class='report-metadata'>
                    <h1>
                        <strong>{{ drug.pert_iname|upper }} ({{ drug.pert_id }})</strong> <span>report</span>
                    </h1>
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Overview</h2>
                            <dl class="dl-horizontal">
                                {% for key, value in drug.to_dict().items() %}
                                    <dt>{{ key }}</dt>
                                    <dd>{{ value }}</dd>
                                {% endfor %}
                            </dl>

                            <h2>External links</h2>
                            <dl class="dl-horizontal">
                                {% for key, (display_name, url) in drug.get_external_links().items() %}
                                    <dt>{{ key }}</dt>
                                    <dd><a href="{{ url }}" target="_blank">{{ display_name }}</a></dd>
                                {% endfor %}
                            </dl>
                        </div>

                        <div class="col-md-4">
                            <h2>Chemical structure</h2>
                            <img src="{{ drug.structure_url }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}