{% extends 'wrapper.html' %}

{% block title %}{{ drug.pert_iname }}{% endblock %}

{% block body %}
    
    <!-- // <script src='static/lib/highcharts/highcharts.js'></script> -->
    <!-- // <script src='static/lib/highcharts/highcharts-3d.js'></script> -->
    <!-- // <script src='static/lib/highcharts/highcharts-exporting.js'></script> -->

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src='static/lib/d3/d3.js'></script>
    <script src='static/lib/underscore/underscore.js'></script>

    <script src='static/js/report.js'></script>
    <script>
        console.log({{ drug.get_dx_counts(50)|safe }})
        createAndManageVisualizations({
            barPlotDx: {{
                drug.get_dx_counts(50)|safe
                if drug.get_dx_counts()
                else 'undefined'                
            }},
            barPlotRx: {{
                drug.get_rx_counts(50)|safe
                if drug.get_rx_counts()
                else 'undefined'                
            }},
            kdeObj: {{
                drug.get_rx_age_kde()|safe
                if drug.get_rx_age_kde()
                else 'undefined'
            }}

        });

    </script>

    <div class='page' id='report-page'>

        <div class='ribbon'>
            <div class='container'>
                <div class='report-metadata'>
                    <h1>
                        <strong>{{ drug.pert_iname|upper }} ({{ drug.pert_id }})</strong> <span>report</span>
                    </h1>
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Overview</h2>
                            <dl class="dl-horizontal">
                                {% for key, value in drug.to_dict().items() %}
                                    <dt>{{ key }}</dt>
                                    <dd>{{ value }}</dd>
                                {% endfor %}
                            </dl>

                            <h2>External links</h2>
                            <dl class="dl-horizontal">
                                {% for key, (display_name, url) in drug.get_external_links().items() %}
                                    <dt>{{ key }}</dt>
                                    <dd><a href="{{ url }}" target="_blank">{{ display_name }}</a></dd>
                                {% endfor %}
                            </dl>
                        </div>

                        <div class="col-md-4">
                            <h2>Chemical structure</h2>
                            <img src="{{ drug.get_structure_url() }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <!-- Diagnosis count -->
            <div class='section'>
                <h2>Diagnoses</h2>
                <div class='description'>
                    <p>
                        Top diagnoses associated with {{ drug.pert_iname }}.
                    </p>
                </div>
                <!-- Togglable tabs for co-dx -->
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#dx-bar" aria-controls="dx-bar" role="tab" data-toggle="tab">Bar plot</a></li>
                        <li role="presentation"><a href="#dx-bubble" aria-controls="dx-bubble" role="tab" data-toggle="tab">Bubble plot</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="dx-bar">
                            <div id='dx-plot'></div>
                            <button id="dx-plot-btn"></button>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="dx-bubble">
                            <div id='dx-bubble-plot'></div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Co-prescribed drugs count -->
            <div class='section'>
                <h2>Co-prescribed drugs</h2>
                <div class='description'>
                    <p>
                        Top co-prescribed drugs of {{ drug.pert_iname }}.
                    </p>
                </div>
                <!-- Togglable tabs for co-rx -->
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#rx-bar" aria-controls="rx-bar" role="tab" data-toggle="tab">Bar plot</a></li>
                        <li role="presentation"><a href="#rx-bubble" aria-controls="rx-bubble" role="tab" data-toggle="tab">Bubble plot</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="rx-bar">
                            <div id='rx-plot'></div>
                            <button id="rx-plot-btn"></button>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="rx-bubble">
                            <div id='rx-bubble-plot'></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- KDE plot for prescription over age -->
            <div class='section'>
                <h2>Age distribution</h2>
                <div class='description'>
                    <p>
                        Probability distribution for the prescription of {{ drug.pert_iname }} over age.
                    </p>
                </div>
                <div id='kde-plot'></div>
            </div>            
        </div>        

{% endblock %}