{% extends 'wrapper.html' %}

{% block title %}{{ drug.pert_iname }}{% endblock %}

{% block body %}

    <!-- // <script src='static/lib/highcharts/highcharts.js'></script> -->
    <!-- // <script src='static/lib/highcharts/highcharts-3d.js'></script> -->
    <!-- // <script src='static/lib/highcharts/highcharts-exporting.js'></script> -->

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src='static/lib/d3/d3.js'></script>
    <script src='static/lib/underscore/underscore.js'></script>

    <script src='static/js/clustergrammer.js'></script>
    <script src='static/js/report.js'></script>
    <script>
        createAndManageVisualizations({
            barPlotDx: {{
                drug.get_dx_counts(50)|safe
                if drug.get_dx_counts()
                else 'undefined'                
            }},
            barPlotRx: {{
                drug.get_rx_counts(50)|safe
                if drug.get_rx_counts()
                else 'undefined'                
            }},
            kdeObj: {{
                drug.get_rx_age_kde()|safe
                if drug.get_rx_age_kde()
                else 'undefined'
            }}

        });

        // To load corresponding content into modal only when <a> is clicked.
        $(document).ready(function(){
            $('a.modal-btn').tooltip({placement: 'right'});
            $('a.modal-btn').on('click', function(e){
                var extraction_id = $(this).attr('data-src');
                var modal_url = 'report/signature/' + extraction_id
                $(".modal-body").load(modal_url)
            });
        })
    </script>

    <div class='page' id='report-page'>
        <div class='ribbon'>
            <div class='container'>
                <div class='report-metadata'>
                    <h1>
                    {% if report.is_approved %}
                        <strong>{{ drug.pert_iname|upper }} ({{ tag.name }})</strong> <span>report</span>
                    {% else %}
                        <strong>{{ report.name }}</strong><span>, custom report for {{ tag.name|upper }}</span>
                    {% endif %}
                    </h1>
                    {% if report.category %}
                        <p>Categorized using metadata field <strong>{{ report.category }}</strong></p>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Overview</h2>
                            <dl class="dl-horizontal">
                                {% for key, value in drug.to_dict().items() %}
                                    <dt>{{ key }}</dt>
                                    <dd>{{ value }}</dd>
                                {% endfor %}
                            </dl>

                            <h2>External links</h2>
                            <dl class="dl-horizontal">
                                {% for key, (display_name, url) in drug.get_external_links().items() %}
                                    <dt>{{ key }}</dt>
                                    <dd><a href="{{ url }}" target="_blank">{{ display_name }}</a></dd>
                                {% endfor %}
                            </dl>
                        </div>

                        <div class="col-md-4">
                            <h2>Chemical structure</h2>
                            <img src="{{drug.get_structure_url()}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Diagnosis count -->
            <div class='section'>
                <h2>Diagnoses</h2>
                <div class='description'>
                    <p>
                        Top diagnoses associated with {{ drug.pert_iname }}.
                    </p>
                </div>
                <div id='dx-plot'></div>
            </div>

            <!-- Co-prescribed drugs count -->
            <div class='section'>
                <h2>Co-prescribed drugs</h2>
                <div class='description'>
                    <p>
                        Top co-prescribed drugs of {{ drug.pert_iname }}.
                    </p>
                </div>
                <div id='rx-plot'></div>
            </div>

            <!-- KDE plot for prescription over age -->
            <div class='section'>
                <h2>Age distribution</h2>
                <div class='description'>
                    <p>
                        Probability distribution for the prescription of {{ drug.pert_iname }} over age.
                    </p>
                </div>
                <div id='kde-plot'></div>
            </div>

        </div>

        <div class='container'>
            <!-- Gene signatures -->
            <div id='gene-signatures-table' class='section'>
                <h2>Gene signatures</h2>
                {% if report.is_approved %}
                    {% set more_signatures_url = config.TAG_URL ~ '/' ~ tag.name %}
                {% else %}
                    {% set more_signatures_url = config.TAG_URL ~ '/' ~ report.id %}
                {% endif %}
                <a href='{{ more_signatures_url }}' class='btn btn-info' id='more-signatures-btn'>
                    Signatures ({{ report.gene_signatures|length }}) and Custom Report Builder
                </a>
                <div class='table-responsive'>
                    <table class='table data-table responsive'>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Signature ID</th>
                                <th>p-value</th>
                                <th>Cell</th>
                                <th>Dose</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gene_signature in report.gene_signatures %}
                                {% set dataset = gene_signature.soft_file.dataset %}
                                <tr>
                                    <td class='index'>{{ loop.index }}</td>
                                    <td class='title'>
                                        <a data-toggle='modal'
                                           class='modal-btn'
                                           title='External links and downloads'
                                           data-target="#signature-modal"
                                           data-src='{{ gene_signature.extraction_id }}'>
                                            {{ gene_signature.get_optional_metadata('sig_id').value|c_filter_empty }}
                                        </a>
                                    </td>
                                    <td class="organism">
                                        {{ gene_signature.get_optional_metadata('pvalue').value|c_filter_empty }}
                                    </td>
                                    <td class='organism'>
                                        {{ gene_signature.get_optional_metadata('cell').value|c_filter_empty }}
                                    </td>
                                    <td class='platform'>
                                        {{ gene_signature.get_optional_metadata('dose').value|c_filter_empty }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


<!-- Modals for individual signatures-->
<div class="modal fade" id="signature-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">External Links and Downloads</h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

{% endblock %}