{% extends 'wrapper.html' %}

{% block title %}{{ sig['sig_id'] }}{% endblock %}

{% block body %}

    <script src='static/lib/highcharts/highcharts.js'></script>
    <script src='static/lib/highcharts/highcharts-more.js'></script>
    <script src='static/lib/highcharts/exporting.js'></script>

    <script src='static/lib/d3/d3.js'></script>
    <script src='static/lib/underscore/underscore.js'></script>


<!-- The content in .modal-content for gene signatures -->
<dl class="dl-horizontal">
    <dt>Signature ID</dt>
    <dd>{{ sig['sig_id']|c_filter_empty }}</dd>
    <dt>Cell</dt>
    <dd>{{ sig['cell_id']|c_filter_empty }}</dd>
    <dt>Dose</dt>
    <dd>{{ sig['pert_dose']|c_filter_empty }}</dd>
    <dt>p-value</dt>
    <dd>{{ sig['pvalue']|c_filter_empty }}</dd>
</dl>

<table class="table">
    <caption>External Links and Downloads</caption>
    <thead></thead>
    <tbody>
        <tr>
            <td></td>
            <td>Up()</td>
            <td>Down()</td>
            <td>Combined()</td>
        </tr>
        <tr>
            <td>
                <span data-toggle="tooltip" title="Text file containing a gene list resulting from differential expression analysis.">Gene lists</span>
            </td>
            <td>
                <a href="report/signature/download/{{extraction_id}}/up_genes">
                    <i class="fa fa-download"></i>
                </a>
            </td>
            <td>
                <a href="report/signature/download/{{extraction_id}}/down_genes">
                    <i class="fa fa-download"></i>
                </a>
            </td>
            <td>
                <a href="report/signature/download/{{extraction_id}}/combined_genes">
                    <i class="fa fa-download"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <span data-toggle="tooltip" title="Perform enrichment analysis against over 70 gene set libraries with Enrichr, a popular gene set enrichment analysis tool.">Enrichr</span>
            </td>
            <td>
                <a id="up_genes" class="enrichr-btn">
                    <img src="static/images/targetapp/enrichr.png">
                </a>
            </td>
            <td>
                <a id="down_genes" class="enrichr-btn">
                    <img src="static/images/targetapp/enrichr.png">
                </a>
            </td>
            <td>
                <a id="combined_genes" class="enrichr-btn">
                    <img src="static/images/targetapp/enrichr.png">
                </a>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
var gene_lists = {
    up_genes: $("#up_genes").data().name,
    down_genes: $("#down_genes").data().name,
    combined_genes: $("#combined_genes").data().name,
};

var extraction_id = $("#extraction_id").data().name;

$(".enrichr-btn").on('click', function(e){
    var key = $(this).attr("id");
    var genes = gene_lists[key];
    var description = extraction_id + '-' + key;
    enrich({list: genes, description: description, popup: true})
});

$('[data-toggle="tooltip"]').tooltip();

function enrich(options) { // http://amp.pharm.mssm.edu/Enrichr/#help
    var defaultOptions = {
    description: "",
    popup: false
  };

  if (typeof options.description == 'undefined')
    options.description = defaultOptions.description;
  if (typeof options.popup == 'undefined')
    options.popup = defaultOptions.popup;
  if (typeof options.list == 'undefined')
    alert('No genes defined.');

  var form = document.createElement('form');
  form.setAttribute('method', 'post');
  form.setAttribute('action', 'http://amp.pharm.mssm.edu/Enrichr/enrich');
  if (options.popup)
    form.setAttribute('target', '_blank');
  form.setAttribute('enctype', 'multipart/form-data');

  var listField = document.createElement('input');
  listField.setAttribute('type', 'hidden');
  listField.setAttribute('name', 'list');
  listField.setAttribute('value', options.list);
  form.appendChild(listField);

  var descField = document.createElement('input');
  descField.setAttribute('type', 'hidden');
  descField.setAttribute('name', 'description');
  descField.setAttribute('value', options.description);
  form.appendChild(descField);

  document.body.appendChild(form);
  form.submit();
  document.body.removeChild(form);
}
</script>




{% endblock %}